body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	font-family: Arial, SimSun, sans-serif;
}

body,html {
	width: 100%;
	height: 100%;
}

/* form_style start */
.ibms_clear { +
	display: block;
	clear: both;
}

.ibms_clear:after {
	content: ".";
	display: block;
	width: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ibms_form_panel {
	margin-bottom: 2px;
	padding: 10px 0 10px 0;
}

.ibms_form_default {
	padding-bottom: 5px;
}

.ibms_form_default ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ibms_form_default ul li {
	float: left;
	display: inline-block;
	height: 32px;
	min-width: 275px;
}

.ibms_form_default ul li font,.ibms_form_default_textarea font {
	display: block;
	float: left;
	width: 95px;
	padding: 8px 0;
	text-align: right;
	font-size: 13px;
	color: #444;
	overflow: hidden;
}

.ibms_form_default ul li h1,.ibms_form_default_textarea h1 {
	display: block;
	margin-left: 90px;
	padding: 5px 0;
	font-size: 13px;
	color: #444;
	font-weight: normal;
}

.ibms_form_default ul li h1 b,.ibms_form_default ul li h1 label {
	display: inline-block;
	padding: 4px 4px 0 0;
	font-weight: normal;
	vertical-align: middle;
	cursor: pointer;
}

.ibms_form_default_input {
	width: 175px;
	height: 22px;
	border: 1px solid #95b8e7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/* ������ʾ����ҳ���������ʽ��ʾ ȥ���߿�*/
.showText {
	border: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ibms_form_default_select {
	width: 175px;
}

.ibms_form_default_radio {
	display: inline-block;
	padding: 4px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
}

.ibms_form_default_textarea textarea {
	width: 96%;
	height: 60px;
	margin: 5px 0 0 0;
	padding: 4px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: -5px;
}

.ibms_form_btn {
	padding: 5px 0 0 0;
	text-align: center;
}

.ibms_form_btn a {
	display: inline-block;
	padding: 0 20px;
	margin: 0 5px;
	height: 22px;
	line-height: 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #bac58a;/*�޸ĵ�����*/
	background:#f9f8ee;/*�޸ĵ�����*/
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	outline: none;
	text-decoration: none;
}

.ibms_form_btn a:hover {
	background:#e8e4be;/*�޸ĵ�����*/
}

.easyui-toolbar {
	background: #f4f4f4;
	margin-bottom: 5px;
	padding: 1px;
}
/* form_style ends */