.clearfix:before,.clearfix:after{
	display: table;
	content: " ";
}
.clearfix:after{clear: both;}
.text-center{ text-align:center;}
.project-table{ padding:7px;}
.project-table > table{ width:100%; border-collapse:collapse; border: 1px solid #dcdcdc; }
.project-table > table  > thead > tr{ }
.project-table > table  > thead > tr > th{ background-color:#f3f3f3; border: 1px solid #dcdcdc; padding:5px; font-size:12px;}
.project-table > table  > tbody > tr{ }
.project-table > table  > tbody > tr > td{ border: 1px solid #dcdcdc; padding:4px; font-size:12px;}
.project-table > table  > tbody > tr > td > select{ box-sizing:border-box; width:100%; border:1px solid #dcdcdc; border-radius:3px; }
.project-table > table  > tbody > tr > td > input[type="text"]{ box-sizing:border-box; width:100%; border:1px solid #dcdcdc; border-radius:3px; padding:2px 5px;}
.project-table > table  > tbody > tr > td > input[type="text"]:focus,.project-table > table  > tbody > tr > td > select:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.project-record{ padding:7px;}
.project-record > h1{ padding:5px; font-weight:normal; border:1px dashed #dcdcdc; margin-bottom:7px;}
.project-record > ul{ background-color:#f3f3f3; border:1px dashed #dcdcdc; margin-bottom:7px;}
.project-record > ul > li{ padding:5px;}
.project-record > ul > li > span{ color:#085f55;}