<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.u2u.ibms.common.mapper.BillCheckMapper">

	<resultMap id="billCheck" type="com.u2u.ibms.common.beans.BillCheck"
		extends="baseBean">
		<result property="id" jdbcType="INTEGER" column="id" />
		<result property="orderId" jdbcType="INTEGER" column="order_id" />
		<result property="userId" jdbcType="INTEGER" column="user_id" />
		<result property="contractId" jdbcType="INTEGER" column="contract_id" />
		<result property="currentTerm" jdbcType="INTEGER" column="current_term" />
		<result property="currentTermDate" jdbcType="VARCHAR" column="current_term_date" />
		<result property="terms" jdbcType="INTEGER" column="terms" />
		<result property="outdate" jdbcType="DATE" column="outdate" />
		<result property="enddate" jdbcType="DATE" column="enddate" />
		<result property="useDuration" jdbcType="INTEGER" column="use_time" />
		<result property="repairTime" jdbcType="INTEGER" column="repair_time" />
		<result property="rentAmount" jdbcType="FLOAT" column="rent_amount" />
		<result property="interest" jdbcType="FLOAT" column="interest" />
		<result property="allAmount" jdbcType="FLOAT" column="all_amount" />
		<result property="rentType" jdbcType="INTEGER" column="rent_type" />
		<result property="payStatus" jdbcType="INTEGER" column="pay_status" />
		<result property="payAmount" jdbcType="FLOAT" column="pay_amount" />
		<result property="status" jdbcType="TINYINT" column="status" />
	</resultMap>

	<sql id="BASE_BILL_CHECK_SQL">
		order_id,
		user_id,
		contract_id,
		current_term,
		current_term_date,
		terms,
		outdate,
		enddate,
		use_time,
		repair_time,
		rent_amount,
		interest,
		all_amount,
		rent_type,
		pay_status,
		pay_amount,
		status,
		<include refid="BASE_BEAN_SQL" />
	</sql>

	<select id="getAll" resultMap="billCheck">
		SELECT
		ID,
		<include refid="BASE_BILL_CHECK_SQL" />
		FROM
		T_BILL_CHECK
		<where>
			<if test="orderId!=null">
				and ORDER_ID = #{orderId}
			</if>
			<if test="contractId!=null">
				and contract_id = #{contractId}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="payStatus!=null">
				and pay_status = #{payStatus}
			</if>
			<if test="terms!=null">
				and current_term = #{terms}
			</if>
		</where>
		ORDER BY CREATE_DATE DESC
	</select>

	<select id="getById" resultMap="billCheck">
		SELECT
		ID,
		<include refid="BASE_BILL_CHECK_SQL" />
		FROM
		T_BILL_CHECK
		WHERE
		ID = #{id}
	</select>

	<select id="getByContractIdAndCurrentTerm" resultMap="billCheck">
		SELECT
		ID,
		<include refid="BASE_BILL_CHECK_SQL" />
		FROM
		T_BILL_CHECK
		WHERE
		contract_id = #{contractId}
		and current_term = #{currentTerm}
		ORDER BY CREATE_DATE DESC
	</select>

	<select id="getLastOrder" resultMap="billCheck">
		SELECT
		ID,
		<include refid="BASE_BILL_CHECK_SQL" />
		FROM
		(SELECT
		ID,
		<include refid="BASE_BILL_CHECK_SQL" />
		FROM t_bill_check
		WHERE USER_ID = #{id}
		ORDER BY outdate DESC
		) AS a GROUP BY a.order_id
	</select>

	<select id="getByOrder" resultMap="billCheck">
		SELECT
		ID,
		<include refid="BASE_BILL_CHECK_SQL" />
		FROM
		T_BILL_CHECK
		WHERE
		order_id = #{value}
		order by outdate desc
	</select>

	<insert id="insert">
		INSERT INTO T_BILL_CHECK
		(
		<include refid="BASE_BILL_CHECK_SQL" />
		)
		VALUES
		(
		#{orderId},
		#{userId},
		#{contractId},
		#{currentTerm},
		#{currentTermDate},
		#{terms},
		#{outdate},
		#{enddate},
		#{useDuration},
		#{repairTime},
		#{rentAmount},
		#{interest},
		#{allAmount},
		#{rentType},
		#{payStatus},
		#{payAmount},
		${status},
		#{createDate},
		#{operateDate}
		)
	</insert>

	<update id="update">
		UPDATE T_BILL_CHECK
		SET
		order_id = #{orderId},
		user_id = #{userId},
		contract_id = #{contractId},
		current_term = #{currentTerm},
		current_term_date = #{currentTermDate},
		terms = #{terms},
		outdate = #{outdate},
		enddate = #{enddate},
		use_time = #{useDuration},
		repair_time = #{repairTime},
		rent_amount = #{rentAmount},
		interest = #{interest},
		all_amount = #{allAmount},
		rent_type = #{rentType},
		pay_status = #{payStatus},
		pay_amount = #{payAmount},
		status = ${status},
		create_date = #{createDate},
		operate_date = #{operateDate}
		where
		id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM T_BILL_CHECK
		WHERE ID = #{id}
	</delete>

</mapper>
