<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.u2u.ibms.common.mapper.ProjectPictureMapper">

	<resultMap id="projectPicture" type="com.u2u.ibms.common.beans.ProjectPicture"
		extends="baseBean">
		<result property="id" jdbcType="INTEGER" column="id" />
		<result property="projectId" jdbcType="INTEGER" column="project_id" />
		<result property="pictureIndex" jdbcType="INTEGER" column="picture_index" />
		<result property="picture" jdbcType="VARCHAR" column="picture" />
	</resultMap>

	<sql id="BASE_PROJECT_PICTURE_SQL">
		project_id,
		picture_index,
		picture,
		<include refid="BASE_BEAN_SQL" />
	</sql>

	<select id="getAll" resultMap="projectPicture">
		SELECT
		ID,
		<include refid="BASE_PROJECT_PICTURE_SQL" />
		FROM T_PROJECT_PICTURE
		<where>
			<if test="projectId!=null">
				and project_id = #{projectId}
			</if>
		</where>
		ORDER BY picture_index
	</select>

	<select id="getByProjectIdAndIndex" resultMap="projectPicture">
		SELECT
		ID,
		<include refid="BASE_PROJECT_PICTURE_SQL" />
		FROM
		T_PROJECT_PICTURE
		<where>
			<if test="projectId!=null">
				and project_id = #{projectId}
			</if>
			<if test="pictureIndex!=null">
				and picture_index = #{pictureIndex}
			</if>
		</where>
	</select>

	<select id="getById" resultMap="projectPicture">
		SELECT
		ID,
		<include refid="BASE_PROJECT_PICTURE_SQL" />
		FROM
		T_PROJECT_PICTURE
		WHERE
		ID = #{id}
	</select>

	<insert id="insert">
		INSERT INTO T_PROJECT_PICTURE
		(
		<include refid="BASE_PROJECT_PICTURE_SQL" />
		)
		VALUES
		(
		#{projectId},
		#{pictureIndex},
		#{picture},
		#{createDate},
		#{operateDate}
		)
	</insert>

	<update id="update">
		UPDATE T_PROJECT_PICTURE
		SET
		project_id = #{projectId},
		picture_index = #{pictureIndex},
		picture = #{picture},
		create_date = #{createDate},
		operate_date = #{operateDate}
		where
		id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM T_PROJECT_PICTURE
		WHERE project_id =
		#{projectId}
	</delete>

</mapper>
